@model NoteApp.Models.Note

<div class="noteDetail-container">
    <header class="header-banner">
        <h2>Note Detail</h2>
    </header>

    <div class="noteDetail">
        <textarea id="content-@Model.Id">@Model.Content</textarea>
        <div class="button-container">
            <button class="saveNote" data-id="@Model.Id">Save</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/notes.js"></script>
}